version: '3.0'

services: 
  mysql:
    image: mysql:latest
    container_name: mysql-container
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: root
      MYSLQL_DATABASE: noormeister
      MYSQL_ROOT_PASSWORD: qwerty
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
volumes:
  mysql-data:

      
    